[submodule "lib/UnicodeTransformer"]
	path = lib/UnicodeTransformer
	url = https://gist.github.com/ascenderx/216b7cea3655bfd1d4ecf7655fc83051
[submodule "lib/Polygon-HTML5JS"]
	path = lib/Polygon-HTML5JS
	url = https://github.com/ascenderx/jspolygon.git
[submodule "lib/TreeFractal-HTML5JS"]
	path = lib/TreeFractal-HTML5JS
	url = https://github.com/ascenderx/jstreefractal.git
[submodule "lib/ColorSelector"]
	path = lib/ColorSelector
	url = https://gist.github.com/3a5fe7687a433d2ea2fef21cda5244be.git
